h1
    color: $color-accent
    

.page__home
    .hero
        margin-bottom: $spacing-4

.block-video
    @include in-page-without-sidebar
        iframe
            width: columns(8)

#document-footer
    .container
        align-items: end
